*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.carousel-inner{
max-height: 30rem;
}


.fotos{
    position: relative;
    display: inline-block;
    width: 80%;
    padding: 40px;
}
#titulo{
    text-align: center;
}
#encabezado{
    display: grid;
    align-items: center;
    background-color: #fc7300;
}
#encabezado ul{
    list-style-type: none;
    text-align: center;
}
#encabezado li{
display: inline;
text-align: center;
}
#encabezado li a{
    padding: 10px 8px 10px 8px;
    text-decoration: none;
    color: #00425A;
}
#encabezado li a:hover{
    background-color: #181823;
    color: #eff5f5;
}

#texto{
    text-align: center;
}
p{
    color:#eff5f5;
    text-align: center;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #00425A;
    color: #eff5f5;
    text-decoration: none;
    text-align: center;
}
#piePagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #1F8A70;
    color: #eff5f5;
}

#redesSociales{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    list-style-type: none;
}
ion-icon{
    font-size: 40px;
    color: #eff5f5;
}